.map {
  width: 100%;
}

.contactBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  padding: 2rem 0.5rem;
}
div.contactBox section {
  width: 100%;
}

.contactDetails {
  font-size: 1.6rem;
}

.contactContainer {
  height: 85vh;
}

.contactName {
  margin: 0;
}

.links {
  font-style: italic;
}

.address {
  margin: auto;
}

@media (max-width: 1045px) {
  .contactBox {
    font-size: 1.4rem;
  }
}

@media (max-width: 920px) {
  .contactBox {
    display: block;
    padding: 0;
  }
  section {
    margin: 1rem 0;
  }
  .map {
    width: 17.4rem;
  }
  .contactDetails {
    font-size: 1.2rem;
  }
}

@media (max-width: 590px) {
  .contactContainer {
    height: auto;
    margin-bottom: 1rem;
  }
  .contactName {
    display: none;
  }
  .map {
    width: 70%;
  }
}
