/* .footer {
  position: sticky;
  display: flex;
  justify-content: right;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.footer a:not(:last-child) {
  margin: 0 1rem 0.5rem 0;
} */
