@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@400&display=swap");

p.about {
  max-width: 45rem;
  justify-content: left;
  margin: auto;
  font-style: italic;
  font-size: 2rem;
}

img.fonz {
  display: flex;
  border-radius: 10rem;
  max-width: 9.6rem;
  max-height: 9.6rem;
  float: right;
  margin-left: 2rem;
}

.aboutBurger {
  display: flex;
  justify-content: space-around;
  padding: 0 2rem;
  font-size: 1.5rem;
  align-items: center;
}

.wingz {
  display: flex;
  border-radius: 1.6rem;
  max-width: 9.6rem;
  max-height: 9.6rem;
  float: right;
  margin: 2rem 0 0 2rem;
}

@media (max-width: 590px) {
  .wingz {
    display: none;
  }
}
img.fonz {
  margin: 1.5rem 0 0 0;
  border-radius: 14px;
}
.aboutBurger {
  flex-direction: column;
}
